@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&subset=latin');

html * {
  font-family: 'Lato', sans-serif;
}

#drop {
	width: 200px;
}

#dashboard {
	margin-left: 15%;
	margin-right: 15%;
}

#marketplace {
	margin-left: 10%;
	margin-right: 10%;
}

.publicpost {
	margin-bottom: 10px;
}