@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&subset=latin');

html * {
  font-family: 'Lato', sans-serif;
}

#drop {
	width: 200px;
}

.sellinput {
	margin: 10px;
}
