@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&subset=latin');

html * {
  font-family: 'Lato', sans-serif;
}

#drop {
	width: 200px;
}

.sellinput {
	margin: 10px;
}

.dropzone {
	width: 100%;
	border-style: dotted;
	border-width: 2px;
}

.dropzone_active {
	width: 100%;
	border-style: dotted;
	border-width: 2px;
	background-color: grey;
}

.picPreview {
	width: 50%;
	height: 50%;
}

img {
	width: 50%;
	height: 50%;
}

#parent {
   display: table;
   width: 100%;
   margin-top: 200px;
}

#form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.mT10 {
  margin-top: 10px;
}

.mT100 {
  margin-top: 100px;
}

/*#landing {
	background: url(/berkeley.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

#landing {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.transparent {
  background: transparent;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #landing {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}